@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu Mono', monospace;
}

canvas {
  border: 1px solid white;
}
 
#start {
  width: 200px;
  height: 100px;
  position: absolute;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  font-size: 2.8rem;
  line-height: 20px;
}